
#popper {
      background: #2c3e50;
	color:#ecf0f1;
  border-radius: 2px;
  padding: 1em 3em;
}
a.slangdoeraway{ text-decoration: overline !important;  text-transform: uppercase !important;font-weight: bold !important;color:cadetblue !important}